.App {
  text-align: center;
  background-color: #f2f2f2;
  color: #222;
  padding: 20px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #d90429;
  margin-bottom: 20px;
}

h2 {
  margin-top: 40px;
  color: #1d3557;
}

.reiniciar {
  background-color: #d90429;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.2s;
}
.reiniciar:hover {
  background-color: #a1031e;
}

.rodada {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.jogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
}

input {
  width: 40px;
  text-align: center;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 90%;
  max-width: 700px;
}

th,
td {
  border: 1px solid #999;
  padding: 8px;
}

th {
  background-color: #1d3557;
  color: white;
}
